  
<html lang="en">
  <%- include("./partials/head.ejs") %>
  
  <body>
    <%- include("./partials/nav.ejs") %>
  
    <div class="about content">
      <h2>About Us</h2>
       <p>whenevr you feel down , Come look at one of our quotes</p>
       <p>quote: <%= quote%></p>
      </div> 
    </div>
  
    <%- include("./partials/footer.ejs") %>
   
  </body>
  </html>